.header {
    padding: 20px 0px;
}


.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 15px;
}


.header__nav {}


.header__nav__list {
    display: flex;
    gap: 15px;
}


.header__nav__item {
}


.header__nav__item__link {
}


.header__btn{
    width: 100px;
    height: 40px;
    background-color: red;
    color: white;
}