<header class="header">
  <div class="container">
    <a href="#" class="header__logo">Pixabay</a>
    <nav class="header__nav">
      <ul class="header__nav__list">
        <li class="header__nav__item">
          <a href="" class="header__nav__item__link">
            home
          </a>
        </li>
        <li class="header__nav__item">
          <a href="" class="header__nav__item__link">
            about us
          </a>
        </li>
        <li class="header__nav__item">
          <a href="" class="header__nav__item__link">
            contacts
          </a>
        </li>
      </ul>
    </nav>
    <button id="open-modal-btn" class="header__btn">sing in</button>
  </div>
</header>