<section class="hero">
    <div class="container">
        <div class="hero__content">
            <h1 class="hero__title">
                Find your image!
            </h1>
            <p class="hero__text">
                Lorem ipsum dolor sit amet.
            </p>
        </div>


        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide"><img src="/img/hero/cat.jpg" alt="" class="swiper__img"></div>
                <div class="swiper-slide"><img src="/img/hero/goat.jpg" alt="" class="swiper__img"></div>
                <div class="swiper-slide"><img src="/img/hero/lion.jpg" alt="" class="swiper__img"></div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>